header {
  display: flex;
  height: 3rem;
  width: 80%;
  justify-content: space-around;
  margin-top: 10rem;
  padding: 0 1rem;
}

header h2 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 2.2rem;
  line-height: 3rem;
  padding-left: 3rem;
  text-overflow: clip;
}
#logo {
  height: 16rem;
  justify-self: center;
}

#opt {
  cursor: pointer;
  border-radius: 1rem;
}
#opt:active{
  background-color: rgba(0, 0, 0, 0.071);
}