.blur {
  background-color: rgba(0, 0, 0, 0.666);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
}
.modal {
  position: fixed;
  display: grid;
  width: 80%;
  top: 50%;
  left: 50%;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  padding: 3rem 0rem 3rem 2rem;
  border-radius: 2rem;
  font-size: larger;
}
.modal h3 {
  justify-self: center;
  font-weight: 400;

  margin: 0;
}
.modal label {
  width: 100%;
}
#inputPath {
  height: 4rem;
  font-size: larger;
  width: 15rem;
  padding: 0.3rem 2rem;
}
#inputURLModal {
  height: 4rem;
  width: 60%;
  font-size: large;
}
#container-btn-deletar {
  display: flex;
  justify-content: center;
}

.btnModal {
  background-color: rgb(205, 102, 14);
  border: 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
}
.btnModal:active {
  background-color: rgb(170, 102, 14);
}
