#container-link {
  display: flex;
  background-color: rgb(247, 165, 0);
  width: fit-content;
  padding: 2rem 5rem;
  border-radius: 4rem;
  font-size: x-large;
  align-items: center;
}
#sucesso-copiar {
  width: 70%;
  background-color: rgba(29, 255, 29, 0.608);
  padding: 2rem 0;
  justify-self: center;
  text-align: center;
  font-size: larger;
  display: flex;
  justify-content: center;
}
